<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <title>Django Project</title>
</head>
<body>
    <header class="container center-align">
        <h2>Django Project</h2>
    </header>

    <div class="container">
        {% block content %}
        {% endblock %}
        <br>
        <a class="center-align" style="display:block" href="/admin">Admin Login</a>

    </div>

</body>
</html>